@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=DM+Sans&display=swap');

/* FOR ALL PAGES */
.base, .navbase, .launch, .profile, .home, .seach-page {
  font-family: 'Titan One', sans-serif;
  margin: 0px;
}

.launch {
  width: 75%;
  margin: 0 auto;
}


.launch h1 {
  color: #484E23;
  font-size: 5em;
  text-align: center;
  margin-bottom: 0;
}

.launch img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  width: 50%;
}

.buttonDiv {
  margin-top: 5%;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.buttonDiv div {
  width: 25%;
}

/* Button CSS */
#button-extra {
  background-color: #88ad6d;
  border-radius: 10px;
  border: 0;
  font-size: 130%;
  color: white;
}



/* OLD BUTTON CSS - saving because theres a lot going on and I don't want to accientally break something*/
/* .button-login, .button-signup, .button-guest, #button-nav {
  appearance: button;
  background-color: #88ad6d;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
}

.button-login:after, .button-signup:after, .button-guest:after, #button-nav:after {
  background-clip: padding-box;
  background-color: #9DC183;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-login:main,.button-login:focus, .button-signup:main,.button-signup:focus, .button-guest:main .button-guest:focus, #button-nav:focus {
  user-select: auto;
}

.button-login:hover:not(:disabled), .button-signup:hover:not(:disabled), .button-guest:hover:not(:disabled), #button-nav.button-guest:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-login:disabled, .button-signup:disabled, .button-login:disabled, #button-nav:disabled {
  cursor: auto;
}

.button-login:active, .button-signup:active, .button-guest:active, #button-nav:active{
  border-width: 4px 0 0;
  background: none;
} */

/* NAVBAR IN NAVBASE */
.nav_wrap {
  display: flex;
  display: flex;
  padding: 0% 2%;
  background-color: white;
  align-items: center;
}

/*Resize the wrap to see the search bar change!*/
.search_wrap{
  flex: 75%;
  width: auto;
  height: auto;
  /* top: 20%;
  left: 50%;
  transform: translate(-50%, -50%); */
}
.logo_wrap {
  flex: 8%;
  width: auto;
}
.profile_wrap {
  flex: 10%;
  width: 60%;
}

.login_out_wrap {
  flex: 10%;
  width: 60%; 
  margin-left: 1.5%;
  margin-right: 1%;
}

#profile_button, #out_button {
  margin-top: 10%;
}


/* search bar */
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  font-family: 'Titan One', sans-serif;
  width: 100%;
  border: 3px solid #9dc183;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #507337;
}

.searchTerm:focus{
  color: #545452;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #9DC183;
  background: #9DC183;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/* Asanti  */

.search-container {
    display: flex;
    /* max-width: 90%; */
    flex-direction: row; /* Arrange items horizontally */
    
}

.left-side {
    /* Styles for column 1 */
    width: 30%;
    /* background-color: lightblue; */
}

.right-side {
    /* Styles for column 2 */
    width: 80%;
    /* padding: 0; */
    /* background-color: lightpink; */
}
.search-filter{
  /* background-color: #e2e0e0; */
  width: 50%;
  /* border: 15px solid green; */
  padding: 3em;
  margin: 2em;
    border-radius: 1em;

  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;


}
.search-image img{
  border-color: 1px solid #507337;
  border-radius: 1em;
   padding: 0.5em;

}
.search-results{
  /* background-color: #e2e0e0; */
  width: 80%;
  /* border: 15px solid green; */
 padding: 3em;
  margin: 2em;
  border-radius: 1em;
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */

}
.search_lst{
  /* background-color: #f7f6f6; */
  display: flex;
    /* max-width: 90%; */
    flex-direction: row; /* Arrange items horizontally */
  list-style: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 1em;
    padding: 1em;
    margin-bottom: 1em;
    

}
.filters{
  display: flex;
    /* max-width: 90%; */
    flex-direction: column; /* Arrange items horizontally */
  list-style: none;
    /* padding: 1em; */
    margin-bottom: 1em;

}

.search-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-color: 1px solid #507337;
  padding: 1em;

}
.story-name{
  align-items: flex-start;
  margin: 0;
}
.search-descriptio{
  align-items: flex-end;
    margin: 0;


}

/* Asanti */

/* Home Page */
.home {
  background-color: #9dc183;
}

.home h1 {
  font-size: 2em;
  text-align: center;
  margin: 1%;
}

.home h3 {
  font-size: 2em;
  text-align: center;
  margin: 5%;
  font-weight: bold;
}

.book-section {
  display: flex;
  flex-direction: column;
  background-color:#9dc183;
  color: white;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  font-weight: bolder;
  font-size: larger;
  margin-top: 0px;
  height: max;
  padding: 5px;
}

/* Type 1 Books */
.books {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 70%;
  margin: 0 auto;
}

.book {
  font-family: 'DM Sans', sans-serif;
  width: 20%;
  height: 250px;
  margin: 10px;
}

.book-number {
  text-align: left;
  background-color: rgb(33, 49, 10);
  color:white;
  font-weight: bolder;
  font-size: 2em;
  width: 30%;
}

.book-tag-container {
  background-color: rgb(33, 49, 10);
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  padding: 5%;
}

.book-tag {
  background-color: white;
  color: black;
  text-align: center;
  padding: 1% 1.5%;
  border-radius: 5px;
  font-size: x-small;
}

.book-tag p {
  margin: 0;
}

/* Story CSS*/

.navbarStory {
  background-color: #9dc183;
  overflow: hidden;
}
.navbarStory a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}
.navbarStory a:hover {
  background-color: #ddd;
  color: black;
}
.dropdownStory {
  float: left;
  overflow: hidden;
}
.dropdownStory .dropbtnStory {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navbarStory a, .dropdownStory .dropbtnStory {
  display: inline-block;
}
.dropdown-contentStory {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-contentStory a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-contentStory a:hover {
  background-color: #ddd;
}
.dropdownStory:hover .dropdown-contentStory {
  display: block;
}

.storyContent {
  font-family: 'Din Next Rounded LT', sans-serif;
  text-align: center;
  background-color: #dde9d5;
}


.chapter-button {
  border-radius: 20px;
  background-color: #9dc183;
  color: white;
  padding: 15px 30px; 
  font-size: 17px;
  width: 200px; 
  height: 50px;
}

.author-link {
  color: black;
  text-decoration: none; 
}

.author-link:hover {
  color: darkgrey; 
}

.book-section a{
  color: white;
  text-decoration: none; 
}
