@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,600;1,600&display=swap');

/* FOR ALL PAGES */
.base, .navbase, .launch, .profile, .home, .search_page, .first-login, .user , .storylaunch, .story, .storydetail, .new-chapter, .edit-chapter, .accessdenied {
  font-family: "Overpass", sans-serif;
  margin: 0px;
  border-radius: 15px;
}

/* font size for all pages */
h1 {
  font-size: 32px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 25px;
}
h4 {
  font-size: 20px;
}
p {
  font-size: 17px;
  line-height: 130%;
}

/* for book tag, specific to each page */
.home p {
  font-size: 11px;
}
.book-tag p {
  font-size: 14px;
}

.launch {
  font-family: 'Titan One', sans-serif;
  width: 75%;
  margin: 0 auto;
}

.launch h1 {
  color: #484E23;
  font-size: 5em;
  text-align: center;
  margin-bottom: 0;
}

.launch img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
  width: 50%;
}

.buttonDiv {
  margin-top: 5%;
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.buttonDiv div {
  width: 25%;
}

/* Button CSS */
#button-extra {
  background-color: #88ad6d;
  border-radius: 10px;
  border: 0;
  font-size: 130%;
  color: #ffffff;
}

/* OLD BUTTON CSS - saving because theres a lot going on and I don't want to accientally break something*/
/* .button-login, .button-signup, .button-guest, #button-nav {
  appearance: button;
  background-color: #88ad6d;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  #ffffff-space: nowrap;
  width: 100%;
}

.button-login:after, .button-signup:after, .button-guest:after, #button-nav:after {
  background-clip: padding-box;
  background-color: #9DC183;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-login:main,.button-login:focus, .button-signup:main,.button-signup:focus, .button-guest:main .button-guest:focus, #button-nav:focus {
  user-select: auto;
}

.button-login:hover:not(:disabled), .button-signup:hover:not(:disabled), .button-guest:hover:not(:disabled), #button-nav.button-guest:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-login:disabled, .button-signup:disabled, .button-login:disabled, #button-nav:disabled {
  cursor: auto;
}

.button-login:active, .button-signup:active, .button-guest:active, #button-nav:active{
  border-width: 4px 0 0;
  background: none;
} */

/* NAVBAR IN NAVBASE */
.nav_wrap {
  width: 100%;
  display: flex;
  display: flex;
  padding-left: 1%;
  align-items: center;
  border-bottom: solid 1px #bebebe;
}

.search_wrap{
  flex: 75%;
  width: auto;
  height: auto;
}
.logo_wrap {
  flex: 5%;
}
.profile_wrap {
  flex: 10%;
  width: 60%;
}

.loggedin-log-wrap {
  flex: 10%;
  width: 60%; 
  margin-left: 2%;
}
.logout {
  margin-left: 3%;
}
.loggedout-log-wrap {
  flex: 5%;
  width: 60%; 
  margin-left: 3%;
}

#out_button {
  margin-top: 0;
}
#nav-button {
  background-color: #88ad6d;
  border-radius: 10px;
  border: 0;
  font-size: 130%;
  color: #ffffff;
  margin-top: 0;
}

/* nav search bar */
.search {
  width: 100%;
  position: relative;
  display: flex;
  margin-left: 1.5%;
  margin-right: 1.5%;
}

.searchTerm {
  /* font-family: 'Din Next Rounded LT', sans-serif; */
  width: 100%;
  border: 3px solid #9dc183;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #507337;
}

.searchTerm:focus{
  color: #545452;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #9DC183;
  background: #9DC183;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/* First Login Page */
.first-login-page-content {
  display: flex;
  width: 100%;
  height: 50vh;
}

.first-login-left {
  flex: 50%;
  justify-content: center;
}

.first-login-left img {
  width: 90%;
  margin: auto;
  margin-top: 22%;
  
}

.first-login-right {
  flex: 50;
  justify-content: center;
}

.pure-form h2{
  padding-bottom: 0;
  text-align: center;
}

.login-form-wrapper {
  background-color: #e4e9df;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  width: 85%;
  height: 160%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5% 0 0 5%;
}

.login-form-wrapper form {
  width: 85%; 
}

.pure-form pure-form-stacked {
  display: inline-block;
}
.login-form-fieldset {
  width: 100%;
  margin: auto;
  
}
#stacked-bio {
  height: 20vh;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  width: 100%;
  resize: none;
}

.first-login #button-extra {
  margin: 10% 0 0 39%;
}
/* Asanti  */

.search-container {
    display: flex;
    /* max-width: 90%; */
    flex-direction: row; /* Arrange items horizontally */
    
}

.search-left-side {
    /* Styles for column 1 */
    flex: 30%;
    /* background-color: lightblue; */
}


.search-right-side {
    /* Styles for column 2 */
    flex: 70%;
    
}
.search-filter{
  width: 60%;
  
  padding: 1em;
  margin: 2em;
    border-radius: 1em;

  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

}
.filters{
  margin-bottom: 1em;
  border-bottom: 1px #f7f7f7;
  display: block;
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */

    /* border-bottom: 1px black; */

}
.filter-title {
  margin: 6px;
  font-family: "Overpass", sans-serif;
  line-height: 24px;
  font-size: 18px;
  font-weight: 800;

}
.filters .tags .tag-content input[type="checkbox"] + label {
  margin-top: 1em;

}


.filters .filter-container{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

}
.filter .filter-container .checkbox_content {
    padding: 4px 0 4px 8px;
    margin-bottom: 8px;

  }

.checkbox_content {
    font-size: 18px;
    line-height: 24px;
    font-family: "Overpass", sans-serif;
    font-weight: 400;
    padding: 4px 0 4px 8px;
    margin-bottom: 2px;



}
.length_filter, .like_filter{
  font-size: 16px;
    line-height: 24px;
    font-family: "Overpass", sans-serif;
    font-weight: 400;
  font-style: normal;
    padding: 4px 0 4px 8px;
    margin-bottom: 8px;

}
/* .search-right-side .search-bookdetails {
    background-color: #cce3bb;
    border: 0px;
    border-radius: 15px;
    display: flex;
    color: #ffffff;
  flex: 70%;
    margin-bottom: 2%;
        padding: 8px;

} */
/* .search-right-side .search-bookdetails .search-book {
    background-color: #7a9d60;
    font-family: 'DM Sans', sans-serif;
    width: 20%;
    height: 90%;
            padding: 8px;

    border-radius: 10px;
} */


.search-results{
  display: flex;

  flex: 70%;
 
  border-radius: 1em;
  flex-wrap: wrap;
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
}

.search_page .bookdetails {
  width: 95%;
  min-height: 280px;
  height: auto;
  box-shadow: 0 1px 10px 0 rgba(34,34,34,.08), 0 4px 5px 0 rgba(34,34,34,.1);
  padding: 4px;
}
.search_page a {
  cursor: pointer;
}
.search_page .book-details-container a {
  position: relative;

}
.search_page .bookdetails .book img {
    margin: 5% 0 10% 10%;
    /* margin-top: 6%;
    margin-bottom: 15%; */
}
.search_page .bookdetails .book {
  flex: 25%;
}
.search_page .bookdetails .details{
  flex: 75%;
}
.search_page .book-details-container {
  min-height: 75%;
}
.search_page .book-details-container .authors-name{
  margin-left: 10em;
}

.search_page .book-details-bottom {
  display: flex;
}

.search_page .book-tag-container {
  background-color: transparent;
  /* width: 60%; */
  flex: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 5px;
  padding: 0%;
}
.search_page .book-tag-container .book-name h3{
  margin-bottom: 1em;
}
.search_page .authors-search {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  padding: 2em;
  border-radius: 15px;
  width: 90%;
  margin-left: 10px;

  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;


}
.search_page .authors-search .authors-name{
  min-height: 50%;
  margin: 0 auto;
  font-family: "Overpass", sans-serif;
  font-weight: 800;
  margin-bottom: 1em;
}
.search_page .authors-search .stories-written {
  display: flex;
  justify-content: space-around;
}



.main-text{
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 1em;
}
.main-text h3 {
  margin-left: 3%;
}

/*story launch */

.detail-container {
    display: flex;
    /* flex-direction: row; Arrange items horizontally */
    /* width: 80%; */
    width: 960px;
  
    margin-right: auto;
    margin-left: auto;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 5em;

    
}

.detail-left-side {
    flex: 35%;
}

.detail-right-side {
    flex: 65%;
  
}
.create-book{
  margin-right: 1em;
}
.create-book img{
  font-family: 'DM Sans', sans-serif;
  width: 250px;
  /* height: 250px; */
  margin: 10px;
  margin-left: 20px;

  height: 320px;
    /* width: 195px; */
    background-color: #eee;
    border: 1px solid #eee;
    margin: 0 auto;
    position: relative;

}
.new-story-details .pure-button {
  margin-top: 1em;
  width: 30%;
  margin-left: 24em;
  color: white;
  font-family: "Overpass", sans-serif;
  font-weight: 500;
  background-color: #88ad6d;
  border-radius: 10px;
  border: 0;
  color: white;
  cursor: pointer;

}
.new-story-details .bttn .pure-button {
  margin-left: 2em;

}
.new-story-details .bttn {
    margin-left: 9em;

}



.story-details {
    border-bottom: 5px solid #9DC183;
    font-family: "Overpass", sans-serif;
    font-weight: 900;
    padding-bottom: 8px;
}

.story-details h4 {
  margin: 2% 0 0 0;
}
.story-title h3 {
  margin: 0;
}
.authors-name h4 {
  margin: 2% 0 0 2%;
}
.story-description p {
  font-size: 23px;
  font-weight: 600;
  margin: 2% 0 0 0;
}
.summary {
  margin: 1% 0 0 2%;
}

.pure-form{
  padding: 2% 5%;

}
.text-input {
  width: 100%;
}
.container .new-story-details{
  width: 90%;

}
.new-story-details{
    box-shadow: 0 1px 10px 0 rgba(34,34,34,.08), 0 4px 5px 0 rgba(34,34,34,.1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2em;
    border-radius: 15px;
    /* margin-left: em; */


}

.new-story-title, .new-story-describtion, .new-story-image, .tags{

margin-bottom: 1em;
    
}
.new-story-title label, .new-story-describtion label {
  display: block;
  font-family: "Overpass", sans-serif;
  /* font-weight: 400; */
}
.new-story-describtion textarea {
    width: 100%;
    height: 187px;
    padding: 3px 0 0 9px;
    border: 1px solid #eee;
    resize: none;
}
.new-story-details .tags {
  margin-top: 2em;
  margin-bottom: 3em;
}

.new-story-details .tag-content {
  margin-top: 2em;
 
}
.tag-content input[type="checkbox"] {
  display: none;
}
.tag-content input[type="checkbox"] + label {
   display:inline-block; /* or block */
   line-height:normal;
   cursor:pointer;
   padding: 3px 14px;
   background-color: #EFEFEF;
   border-radius: 80px;
   border: 1px solid #D0D0D0;
   margin-right: 2em;
}

.tag-content input[type="checkbox"] + label:hover {
   border-color: #000;
   background-color: rgb(104, 103, 103);
   color: #fff;
}
.tag-content input[type="checkbox"]:checked + label {
   border-color: #000;
   background-color: #888;
   color: #fff;
}

.table-of-content {
  box-shadow: 0 1px 10px 0 rgba(34,34,34,.08), 0 4px 5px 0 rgba(34,34,34,.1);
    padding: 10px;
    border-radius: 10px;

}
.chapter-lst{
  /* border-bottom: 5px solid #c4dfb1; */
    /* font-weight: 600;
    padding-bottom: 15px; */
    margin-top: 1em;

}
/*story launch */

/*story detail */
/* .story-details{
  font-family: "Overpass", sans-serif;
  font-weight: 900;
} */

.chapters{
    padding: 15px 10px 15px 10px;
    border: solid 1px #eee;
    color: #6f6f6f;
    margin-bottom: 1em;
    background-color: #E8E8E8;
    border-radius: 10px;
    cursor: pointer;
}
.chapters {
  color: black;
}
.chapters span{
  width: 40%;
  margin-left: 60%;
}
.table-of-content .pure-button{
  /* width: 30%; */
  /* background-color: #9DC183; */
  color: white;
  font-family: "Overpass", sans-serif;
  font-weight: 500;

  background-color: #88ad6d;
    border-radius: 10px;
        cursor: pointer;

    /* border: 0; */
    /* font-size: 100%; */

}
/* .table-of-content{
      border-bottom: 5px solid #c4dfb1;
    font-weight: 600;
    padding-bottom: 15px;
    margin-bottom: 1em;
} */


/*story detail */

/*edit chapter */
.storyContent .text-input textarea{
  height: 600px;
}
.storyContent .text-input{
  margin-top: 2em;  
  margin-bottom: 2em;
  border-radius: 15px;

}

.storyContent .pure-button {
  margin-top: 1em;
  width: 30%;
  /* margin-left: 24em; */
  /* background-color: #9DC183; */
  color: white;
  font-family: "Overpass", sans-serif;
  font-weight: 500;

  background-color: #88ad6d;
    border-radius: 10px;
    border: 0;
    /* font-size: 100%; */
    color: white;
        cursor: pointer;


}

/*edit chapter */

/* story detail*/
.overview-container{
  display: flex;
    /* flex-direction: row; Arrange items horizontally */
    /* width: 80%; */
    width: 960px;
  flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    padding-left: 8px;
    padding-right: 8px;
    margin-top: 5em;

}
.overview-top-half{
  display: flex;
  flex: 35%;
  margin-bottom: 2em;
  padding: 15px;
    box-shadow: 0 1px 10px 0 rgba(34,34,34,.08), 0 4px 5px 0 rgba(34,34,34,.1);
  border-radius: 10px;

}
.overview-bottom-half{
      flex: 65%;


  
}
.overview-top-half .overview-left-side{
  flex: 35%;

}
.overview-top-half .overview-right-side{
      flex: 65%;

  
}


.story-overview .story-title, .story-overview .story-describtion{
  font-family: "Overpass", sans-serif;
    font-weight: 400;

}

.story-overview .story-title {
  margin-top: 1em;
  font-weight: 600;
}

.storydetail .bookmark {
  cursor: pointer;
  margin-left: 40em;
}
/* .storydetail .bookmark .bookmark-bttn {
  display: block;
    height: 50%;


} */

/* story detail */


.accessdenied .message {
  margin: 0 auto;
  text-align: center;
  font-family: "Overpass", sans-serif;
  line-height: 24px;
  font-size: 24px;
  font-weight: 900;


}

/* Asanti */


/* User Page */
#bar_user_stats h3 {
  margin-bottom: 0;
}
#bar_user_stats h4 {
  margin-top: 1%;
}
#bar_user_stats h4 {
  margin-top: 1%;
}
#bar_username h2 {
  margin-top: 4%;
}
/* User Bar */
.info_bar {
  display: flex;
  height: auto;
  width: 100%;
  overflow: auto;
  background-color: rgb(197, 220, 180);
  text-align: center;
}

#bar_user_stats {
  flex: 20%;
  display: flex;
  margin-left: 2%;
  text-align: center;
}
#stories_count {
  flex: 30%;
}
#followers_count {
  flex: 30%;
}
#following_count {
  flex: 30%;
}
#bar_username {
  flex: 60%;
}
#bar_interaction {
  flex: 20%;
  margin-right: 2%;
}
.button-editUser, .button-followUser {
  margin-top: 8%;
}

/* user body content */
.user_page_top {
  margin: 2%;
  display: flex;
  height: auto;
  /* width: 100%; */
  /* overflow: auto; */
}

#profile_right {
  flex: 70%;
  height: 60%;
  min-height: 60vh;
  border-radius: 15px;
  padding-left: 1%;
  border: 1px solid transparent;
  box-shadow: 0 1px 10px 0 rgba(34,34,34,.08), 0 4px 5px 0 rgba(34,34,34,.1);
}

#story_div {
  display: flex;
  flex-direction: column;
}

#story {
  border-radius: 15px;
  border: 1px solid #a9a9a9;
  padding-left: 1%;
  padding-right: 1%;
  margin-bottom: 4%;
  margin-right: 1.5%;
  width: auto;
}

#profile_left {
  flex: 30%;
  margin-right: 2%;
  height: 40%;
}

#new_story_div {
  min-height: 35vh;
  height: 15em;
  width: auto;
  border: 1px solid transparent;
  box-shadow: 0 1px 10px 0 rgba(34,34,34,.08), 0 4px 5px 0 rgba(34,34,34,.1);
  border-radius: 15px;
  margin-bottom: 2%;
  display: flex;
}

.user a:hover {
  cursor: pointer;
  text-decoration: none;
}

#plus_box {
  background-color: #e7e6e6;
  height: 85%;
  width: 40%;
  border-radius: 15px;
  border: 1px solid #d9d8d8;
  display: table;
  margin-left: 3%;
  margin-top: 5%;
  margin-bottom: 1%;
}

#plus_box i {
  text-align: center;
  margin-top: 45%;
}
.user #words {
  margin-top: 42%;
}

.new_story a{
  text-decoration: none;
}

#plus_box_words, #plus_box {
  padding-left: 2%;
  text-align: center;
  color: #9DC183;  
}

.fa-plus {
  color: #9dc183;
}

#user_bio_text {
  min-height: 20vh;
  width: 96%;
  padding-left: 5%;
  padding-top: 5%;
  border: 1px solid transparent;
  box-shadow: 0 1px 10px 0 rgba(34,34,34,.08), 0 4px 5px 0 rgba(34,34,34,.1);
  border-radius: 15px;
  margin-bottom: 2%;
  resize: none; 
  font-family: "Nunito", sans-serif;


}

#user_library {
  border-radius: 15px;
  border: 1px solid transparent;
  box-shadow: 0 1px 10px 0 rgba(34,34,34,.08), 0 4px 5px 0 rgba(34,34,34,.1);
  padding-left: 1%;
  width: 95%; 
  margin-left: 2%;
  margin-bottom: 1%;
  min-height: 65vh;
}

a {
  color: inherit;
  text-decoration: none; 
}

/* Home Page */

.welcome-header {
  /* border-bottom: 3px solid #507337; */
  height: 4em;
}

.welcome-header-text {
  margin: 3% 0 0 4%;
}

.home .bookdetails {
  margin-top: 0 0 10% 5%;
}

.book-section1 h1 {
  font-size: 2em;
  text-align: left;
  margin: 3% 0 0 6%;
}

.home h3 {
  text-align: center;
  margin: 5%;
  font-weight: bold;
}

.book-section1 {
  height: auto;
  min-height: 55vh;
}

.book-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 40vh;
  height:auto;
  /* background-color:#def0d2; */
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  font-weight: bolder;
  font-size: larger;
  margin-top: 0;
  padding: 5px;
}

.home #user_library {
  margin-top: 4%;
  
}
.home a {
  text-decoration: none; 
}

/* Home Books */
.home .books {
  display: flex;
  justify-content: flex-start;
  width: 90%;
  margin: 0 0 1% 8%;
  position: relative;
}

.home .books .book-tag-container {
  position: relative;
  z-index: 1000;
  margin-bottom: -35.8px;
  overflow: hidden;
  min-height: 20px;
  background-color: rgba(0,0,0,.3);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: #fff;
  display: flex;
  justify-content: center;
  gap: 5px;
  padding: 5% 0 5% 0;
}

.home .book-tag {
  height: min-content;
}

.home .book-tag p {
  margin: 0;
  color: #505050;
  text-align: center;
  padding: 1% 1%;
  border-radius: 5px;
  font: 10px;
}

.home .book1details a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.home .book1details h3 {
  color: #ffffff;
  text-align: center;
  margin-top: 45%;
}

.home .book {
  height: 16.5em;
  flex-basis: calc(16% - 3%);
  margin: 3%;
  position: relative;
}

.home .book-image {
  width: 100%; 
  height: auto;
  display: block; 
  margin: 0 auto 5% 0; 
  object-fit:fill;
  border-radius: 15px;
  position: relative;
}

#resized-image {
  width: 163px; 
  height: 260px; 
  object-fit: cover;
  border-radius: 15px;
}

#storyDetail-resized-image {
  width: 230px; 
  height: 365.7px; 
  object-fit: cover;
  border-radius: 15px;
}

.book-number {
  text-align: left;
  padding-left: 8%;
  padding-right: 2%;
  background-color: rgb(171, 207, 119);
  border-top-left-radius: 15px;
  color:#ffffff;
  font-weight: bolder;
  font-size: 2em;
  width: 25%;
  float: left;
  position: relative;
  z-index: 1000;
  margin-bottom: -40px;
}

/* BOOK TAG CONTAINER ORIGINAL */

.book-tag-container {
  background-color: rgba(58, 55, 55, 0.8);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  padding: 5% 0 5% 0;
}

.launch-tag-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  padding: 5%;
}

/* .launch-book-tag {
  background-color: green;
  color: black;
  text-align: center;
  padding: 1% 1.5%;
  border-radius: 5px;
  font-size: x-small;
} */

.book-tag {
  background-color: #ffffff;
  color: black;
  text-align: center;
  padding: 1% 1.5%;
  border-radius: 5px;
  height: auto;
}

.book-tag p {
  margin: 0;
}
/* Book Type 2 */
.bookdetails {
  background-color: #cce3bb;
  border: 0px;
  border-radius: 15px;
  display: flex;
  color: #ffffff;
  margin-top: 20px;
  width: 30%; 
  margin-left: 10px;
}

.details {
  margin: 10px;
  color: black;
}

.details p {
  font-family: "Nunito", sans-serif;
  margin-right: 5px;
}

.details h3 {
  text-align: left;
  margin-left: 0px;
}

.user .book-details-bottom {
  display: flex;
}

.user .continue-writing-container {
  flex: 10%;
  margin: 1% 0 0 20%;
  color: #507337;
}

.details .book-tag p {
  margin: 3px;
}


/* Book type 2 on User Page */
.user .user_books {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.user .bookdetails {
  background-color: #cce3bb;
  border: 0px;
  border-radius: 15px;
  display: flex;
  color: #ffffff;
  width: 97%; 
  min-height: 40vh;
  height: auto;
  margin-bottom: 2%;
}

.user .bookdetails .book img {
  margin: 10% 0 10% 10%;
}

.book-details-container {
  position: relative;
}

.book-details-container a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.user .bookdetails .book {
  flex: 25%;
}

.user .details {
  flex: 75%;
  margin: 10px;
  color: black;
}

.user .book-details-container {
  min-height: 68%;
}

.user .details .book-tag-container {
  background-color: transparent;
  width: 60%;
  flex: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  gap: 5px;
  padding: 0%;
}

/* Book type 1 on User Page */
.user_library {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 95%;
  margin-left: 5%;
}

.user_library .book1 {
  flex-basis: calc(17% - 4%);
  margin: 3%;
}

.user_library .book1details {
  width: 94%;
  height: 16.7em;
  position: relative;
}

.user_library .book1 h3 {
  color: #ffffff;
  text-align: center;
  margin-top: 45%;
}

.book1author {
  margin-left: 3%;
}

.author-link h6 {
  margin: 0;
  margin-left: 3%;
  font-size: medium;
}

.book-tag p {
  margin: 0;
}

/* Story CSS*/
.navbarStory {
  background-color: #9dc183;
  overflow: hidden;
}

.navbarStory a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.navbarStory a:hover {
  background-color: #ddd;
  color: black;
}

.dropdownStory {
  float: left;
  overflow: hidden;
}

.dropdownStory .dropbtnStory {
  font-size: 16px;
  border: none;
  outline: none;
  color: #ffffff;
  padding: 14px 20px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbarStory a, .dropdownStory .dropbtnStory {
  display: inline-block;
}

.dropdown-contentStory {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-contentStory a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-contentStory a:hover {
  background-color: #ddd;
}
.dropdownStory:hover .dropdown-contentStory {
  display: block;
}

.storyContent {
  text-align: center;
  padding: 0 4% 0 4%;
}

/* hr for chapter */
.separator {
  text-align: center;
  height: 0.5em;
  border-bottom: 2px solid black;
  margin-bottom: 4%;
  font-size: 20px;
}
.separator:first-line {
  background-color: #ffffff;
}
.separator:before {
  content: "__";
  color: #ffffff;
}
.separator:after {
  content: "__";
  color: #ffffff;
}

.story-content {
  width: 98%;
  margin-left: 2%;
}
.story p {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  margin: 1.286em auto;
}

.chapter-button {
  border-radius: 15px;
  font-size: 17px;
  width: 200px; 
  height: 50px;
  margin: 2%;
  padding: 0;
}

.story-story-info {
  margin: 3% 0 2% 0;
}

.author-link-search {
  color: black;
  text-decoration: none;
  font-size: 20px; 
  font-weight: 500;
  margin-bottom: 30%;
}

.author-link:hover {
  color: darkgrey; 
}

.book-section a {
  color: #ffffff;
  text-decoration: none; 
}