{# templates/base.html #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}base{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
{% block body %}
    <body class="base">
{% endblock %}
    <div id="header">
        {% block header %} {% endblock %}
    </div>
    <div id="page_content">
        {% block page_content %}{% endblock %}
    </div>
    <div id="footers">
        {% block footer %} {% endblock %}
    </div>
    {% block page_script %}{% endblock %}
</body>
</html>