{# templates/profile.html #}
{% extends "navbase.html" %}
{% block title %}Home{% endblock %}
{% block body %}
    <body class="home">
{% endblock %}
{% block page_content %}
<div class="bookdetails">
  <div class="book">
    <h3>Book Title 1</h3>
  </div>
  <div class="details">
    <h3>Author Name</h3>
    <p>Here is a quick book description. The book is very good!</p>
    <div class="book-tag-container">
      <div class="book-tag"><p>Fantasy</p></div>
      <div class="book-tag"><p>New author fiction</p></div>
      <div class="book-tag"><p>Mystery</p></div>
      <div class="book-tag"><p>Young Adult</p></div>
    </div>
  </div>
</div>
{% endblock %}
{% block footer %}{% endblock %}
{% block page_script %}{% endblock %}