{# templates/home.html #}
{% extends "navbase.html" %}
{% block title %}Home{% endblock %}
{% block page_script %}{% endblock %}
{% block body %}
    <body class="home">
{% endblock %}
{% block page_content %}
    <div class="welcome-header">
        <h2 class="welcome-header-text">Welcome Home {{current_user}}</h2>
    </div>
    <div class="book-section1" style="background-color: #e1f0da; border-top: 3px solid #507337; border-bottom: 3px solid #507337;">
        <h1>Top 5 in the U.S.</h1>
        <div class="books">
            {% for x in top_5_books %}
                <div class="book">
                    <div class="book1details">
                        <div class="book-number">#{{loop.index}}</div>
                        <img src={{ x['picture_url'] }} alt="{{ x['title'] }} Cover" class="book-image" id="resized-image">
                        <!-- CHANGE TO TABLE OF CONTENTS -->
                        <a href="/story/{{ x['book_id'] }}" class="book-link"></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="book-section1">
        <h1>Genre Spotlight: {{ genre }} </h1>
        <div class="books">
            <!-- CHANGE TO TOP 5 GENRE-->
            {% for x in top_5_genre %}
                <div class="book">
                    <div class="book1details">
                        <div class="book-tag-container">
                            {% set tag_list = x['tags'][1:-1].split(", ") %}
                            {% if tag_list[0] == "" %}
                            {% else %}
                                {% for tag in tag_list[0:3] %}
                                    <div class="book-tag"><p>{{ tag }}</p></div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <img src={{ x['picture_url'] }} alt="{{ x['title'] }} Cover" class="book-image" id="resized-image">
                        <a href="/story/{{ x['book_id'] }}" class="book-link"></a>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

    {% if logged_in %}
    <div id="user_library"> 
        <h2> @{{ current_user }}'s Library</h2>
        <div class="user_library">
            {% for book in user_library %}
            <div class="book1">
                <div class="book1details">
                    <a href="/story/{{ book[0] }}/1/" class="book-link">
                        <img src={{book[3]}} alt="Book Cover" class="book-image" id="resized-image">
                        <h3>{{book[2]}}</h3>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    
{% endblock %}
{% block footer %}{% endblock %}