{# templates/launch.html #}
{% extends "base.html" %}
{% block title %} Launch {% endblock %}
{% block body %}
    <body class="launch">
{% endblock %}
{% block header %} 
    <h1>Welcome to</h1>
    <img src="/static/images/logo.png" alt="Turtle Tales Logo" width="700"/>
{% endblock %}
{% block page_content %}
<div class="buttonDiv">
    <a href="/login">
      <button class="button-login">Login</button>
    </a>
    <a href="/signup">
        <button class="button-signup">Sign Up</button>
    </a>
    <a href="/home">
        <button class="button-guest">Continue as Guest</button>
    </a>
</div>
{% endblock %}
{% block footer %}{% endblock %}
{% block page_script %}{% endblock %}