{# templates/search.html #}
{% extends "navbase.html" %}
{% block title %}Search{% endblock %}
{% block body %}
    <body class="search_page">
{% endblock %}

{% block header %}{% endblock %}
{% block page_content %}
    <div class="main-text">
        <h3> search results for <em>{{ search }}</em> </h3>

    </div>
    <div class="search-container"> 
        <div class="search-left-side"> 
            <div class="search-filter">
            <form class="pure-form pure-form-aligned" id="save_search_filters" action="/search/filter" method="GET">
                <input type="hidden" name="search_query" value={{search}}>
                <div class="filters"> 
                    
                    <div class="filter-title">
                        Genre
                    </div>
                    <div class="filter-container">
                        <div class="checkbox_content">
                            <input type="checkbox" id="Action" name="Action" value="On" checked>
                            <label class="filter-checkbox" for="Action"> Action </label>
                        </div>

                        <div class="checkbox_content">
                            <input type="checkbox" id="Horrow" name="Horror" value="On" checked>
                            <label class="filter-checkbox" for="Horrow">Horror</label>
                        </div>

                        <div class="checkbox_content">
                            <input type="checkbox" id="Fantasy" name="Fantasy" value="On" checked>
                            <label class="filter-checkbox" for="Fantasy">Fantasy</label>
                        </div>

                        <div class="checkbox_content">
                            <input type="checkbox" id="Romance" name="Romance" value="On" checked>
                            <label class="filter-checkbox" for="Romance">Romance</label>
                        </div>

                        <div class="checkbox_content">
                            <input type="checkbox" id="Comedy" name="Comedy" value="On" checked>
                            <label class="filter-checkbox" for="Comedy">Comedy</label>
                        </div>  

                        <div class="checkbox_content">
                            <input type="checkbox" id="Sci-Fi" name="Sci-Fi" value="On" checked>
                            <label class="filter-checkbox" for="Sci-Fi">Sci-Fi</label>
                        </div>  
                        
                        <div class="checkbox_content">
                            <input type="checkbox" id="Contemporary" name="Contemporary" value="On" checked>
                            <label class="filter-checkbox" for="Contemporary">Contemporary</label>
                        </div> 
                    </div>  
                </div>
                    <div class="filters">
                        <div class="filter-title">
                            Length
                        </div>
                        <div class="length_filter">
                            <label for="chapterRange"> Number of Chapters: </label>
                            <input type="range" min="1" max="100" value="50" name="chapterRange"
                            oninput="rangeValue.innerText = this.value">
                            <span id="rangeValue">100</span>   

                        </div>
                    </div>
                    <div class="filters">
                        <div class="filter-title">
                            Saves
                        </div>
                        
                        
                        
                        
                        <div class="like_filter">
                            <!-- <p>Number of Likes:</p> -->
                            <label for="range"> Number of Saves to Library: </label>
                            <input type="range" min="1" max="100" value="50" name="range"
                            oninput="likeValue.innerText = this.value">
                            <span id="likeValue">100</span>   

                        </div>
                    </div>
                    <div class="filters">
                        <div class="filter-title">
                            Tags
                        </div>
                        

                            <div class="tags">
                                <input type="text" id="tags" name="tags" placeholder= "romance,young adult"/>
                            </div>

                        <!-- </div>  -->
                    </div>   

                    <input class="button-editStory pure-button" type="submit" value="Save " />
                </form>

            </div>

        </div>

        <div class="search-right-side"> 
            <!-- <h3> right side</h3> -->
            <div class="main-text">
                <h3> Profiles </h3>

            </div>
            <div class="search-results">
                <div class="authors-search">
                    <div class="authors-name">
                        authors name here
                    </div>
                    <div class="stories-written">
                        <span class="stories-written">
                            # written 
                        </span>
                        <span class="stories-saved">
                            # saved 
                        </span>
                    </div>
                    
                    
                </div>

                <div class="main-text">
                    <h3> Stories </h3>

                </div>

                {% for books in book_results %}
                    <a href="/story/{{ books[0] }}">           
                        <div class="bookdetails">
                            <div class="book">
                                    <img src="{{ books[3] }}" alt="Book Cover" class="book-image" id="resized-image">
                                    <a href="#" class="book-link"></a>
                            </div>
                            <div class="details">
                                <div class="book-details-container">
                                    <h3> {{ books[2] }} </h3>
                                    <!-- <p> By {{ books[10] }} </p> -->
                                
                                    <!-- Book Summary Limit of 410 Char -->
                                    <p> {{ books[9] }} </p>

                                </div>
                                 <div class="name"> 
                                        <a href="/user/{{books[10]}}" class="author-link">by {{books[10]}} </a>
                                    </div>
                                <div class="book-tag-container">
                                    {% set tag_list = books[7].split(", ") %}
                                        {% for tag in tag_list%}
                                            <div class="book-tag"><p>{{ tag }}</p></div>
                                    {% endfor %} 
                                
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}

            
                
            </div>

            
            
        </div>
    </div>
{% endblock %}
{% block footer %}{% endblock %}
{% block page_script %}<script src="{{url_for('static', filename='js/search.js')}}" defer></script>{% endblock %}