{# templates/storylaunch.html #}
{% extends "navbase.html" %}
{% block title %}Story Launch{% endblock %}
{% block body %}
    <body class="storylaunch">
{% endblock %}
{% block page_content %}
<div class="detail-container">
    <div class="detail-left-side">

            <div class="create-book" >
                <img src="{{ book_details[3] }}" alt="Book Cover" id="storyDetail-resized-image">
            </div>

    </div>
    <div class="detail-right-side">
        <div class="new-story-details">
            <div class="story-details">
                Story Details
            </div>
            <form class="pure-form pure-form-aligned" action="/myworks/api/updatebook/{{ book_details[0] }}" method="POST" id="story_form">
                <div class="new-story-title">
                    <label for="title">Title:</label>
                    <div class="text-input">
                        <input type="text" id="book_title" name="book_title" placeholder="Untitled" class="pure-input-1" value="{{ book_details[2] }}">
                    </div>
                </div>
                <div class="new-story-describtion">
                    <label for="describtion">Story Description:</label>
                    <!-- <input type="describtion" id="describtion" name="describtion" placeholder="stroy describtion"> -->
                    <div class="text-input">
                        <textarea class="pure-input-1" name = "summary" id="summary" placeholder="Story description goes here"> {{ book_details[9] }}</textarea>
                    </div>
                </div>
                <div class="select-box">
                    <label for="genre" >Choose genre:</label>
                    <select name="genre" id="genre">
                    <option value="Fantasy" {% if book_details[6] == 'Fantasy' %} selected {% endif %}>Fantasy</option>
                    <option value="Action" {% if book_details[6] == 'Action' %} selected {% endif %}>Action</option>
                    <option value="Romance" {% if book_details[6] == 'Romance' %} selected {% endif %}>Romance</option>
                    <option value="Comtemporary" {% if book_details[6] == 'Contemporary' %} selected {% endif %}>Contemporary</option>
                    <option value="Horror" {% if book_details[6] == 'Horror' %} selected {% endif %}>Horror</option>
                    <option value="Comedy" {% if book_details[6] == 'Comedy' %} selected {% endif %}>Comedy</option>
                    <option value="Sci-Fi" {% if book_details[6] == 'Contemporary' %} selected {% endif %}>Sci-Fi</option>		
                </select>
                </div>
                <!-- <div class="tags">
                    <p> Please select your Tags: </p>
                    <span class="tag-content">
                        <input type="checkbox" id="ActionTag" name="ActionTag" value="ActionTag">
                        <label class="filter-checkbox" for="ActionTag"> + Action </label>
                    </span>

                    <span class="tag-content">
                        <input type="checkbox" id="MysteryTag" name="MysteryTag" value="MysteryTag">
                        <label class="filter-checkbox" for="MysteryTag"> + Mystery </label>
                    </span>

                    <span class="tag-content">
                        <input type="checkbox" id="Romance" name="RomanceTag" value="RomanceTag">
                        <label class="filter-checkbox" for="RomanceTag"> + Romance </label>
                    </span>
                    <span class="tag-content">
                        <input type="checkbox" id="DramaTag" name="DramaTag" value="DramaTag">
                        <label class="filter-checkbox" for="DramaTag"> + Drama </label>
                    </span>

                </div> -->
                <div class="tags">
                    <label for="tags">Tags</label>
                    <input type="text" id="tags" name="tags" placeholder= "romance,young adult" value="{{ book_details[7] }}" />
                 </div>

                <div class="new-story-image">
                    <label for="book_image">Image URL: </label>
                    <input type="text" id="book_image" name="book_image" class="pure-input-1" value="{{ book_details[3] }}" />


                </div>

                <input class="button-editStory pure-button" type="submit" value="Save Changes" />

                <div>
                    <a href="/myworks/api/{{ book_details[0] }}/delete" class="pure-button" method="GET"> Delete Story </a>
                </div>
                
            </form>


            


        </div>
        <div class="table-of-content">
            <div class="story-details">
                Table of Contents
            </div>
            
            <div class="chapter-lst">

            
                {% for chapter in range(1, book_details[8] + 1) %}
                <div class="chapters">
                    <a href="/myworks/{{book_details[0]}}/{{ chapter }}">Chapter {{chapter}}</a>
                    <span class="bttn">
                        <a href="/myworks/{{book_details[0]}}/{{ chapter }}" class="pure-button"> Edit </a>
                        <a href="/myworks/api/{{book_details[0]}}/{{ chapter }}/delete" class="pure-button"> Delete </a>
                    </span>
                </div>
            
                    
                {% endfor %}

                <div class="">
                    <a href="/myworks/{{book_details[0]}}/{{ book_details[8] + 1 }}" class="pure-button">
                        <i class="fa-solid fa-square-plus"></i> Add a New Chapter </a>
                </div>
            </div>
        
                
        </div>

    </div>
</div>


{% endblock %}
{% block footer %}{% endblock %}
{% block page_script %}{% endblock %}