{# templates/storydetail.html #}
{% extends "navbase.html" %}
{% block title %}Story Detail{% endblock %}
{% block body %}
    <body class="storydetail">
{% endblock %}
{% block page_content %}

<div class="launch-container">
    <div class="launch-left-side">
        <form action="/myworks/<int:book_id>" method="POST" id="story_form">
            <div>
                <label for="book_title" name="book_title">Title</label><br>
                <input type="text" id="book_title" name="book_title" value="{{ book_details[2] }}">
            </div>
            <div>
                <label for="genre">Genre: </label>
                <select name="genre" id="genre">
                <option value="Fantasy">Fantasy</option>
                <option value="Action">Action</option>
                <option value="Romance">Romance</option>
                <option value="Comtemporary">Contemporary</option>
                <option value="Horror">Horror</option>
                <option value="Comedy">Comedy</option>
                <option value="Sci-Fi">Sci-Fi</option>		
                </select>
            </div>
            <div>
                <label for="summary">Summary:</label><br>
              <textarea id="summary" name="summary">{{ book_details[9] }}</textarea><br>
            </div>
        </form>
        
        <div class="create-book">
            <img src="{{ book_details[3] }}" alt="Book Cover">
        </div>
    </div>
    <div class="launch-right-side">
        <div class="new-story-details">
            <div class="story-details">
                <h2>Table of Contents</h2>
            </div>
            <div class="table-of-content">
                <ul>
                    {% for chapter in range(1, book_details[8] + 1) %}
                    <li>
                        <div class="chapters">
                            <a href="/myworks/{{book_details[0]}}/{{ chapter }}">Chapter {{chapter}}</a>
                        </div>
                    </li>
                    {% endfor %}
                    <li>
                        <div class="chapters">
                            <a href="/myworks/{{book_details[0]}}/{{ book_details[8] + 1 }}">Add a New Chapter </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}{% endblock %}
{% block page_script %}{% endblock %}