{# templates/storydetail.html #}
{% extends "navbase.html" %}
{% block title %}Story Detail{% endblock %}
{% block body %}
    <body class="storydetail">
{% endblock %}
{% block page_content %}
<div class="launch-container">
    <div class="launch-left-side">
        <div class="create-book">
            <img src="{{ book_details[3] }}" alt="Book Cover">
        </div>
    </div>
    <div class="launch-right-side">
        <div class="new-story-details">
            <div class="story-details">
                <h2>Table of Contents</h2>
            </div>
            <div class="table-of-content">
                <ul>
                    {% for chapter in range(1, book_details[8] + 1) %}
                    <li>
                        <div class="chapters">
                            <a href="/myworks/{{book_id}}/{{ chapter }}">Chapter {{chapter}}</a>
                        </div>
                    </li>
                    {% endfor %}
                    <li>
                        <div class="chapters">
                            <a href="/myworks/{{book_id}}/{{ book_details[8] + 1 }}">Add a New Chapter </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}{% endblock %}
{% block page_script %}{% endblock %}