{# templates/user.html #}
{% extends "navbase.html" %}
{% block title %}User{% endblock %}
{% block page_script %}{% endblock %}
{% block body %}
    <body class="user">
{% endblock %}
{% block header %}
    <div class="info_bar">
        <div id="bar_user_stats">
            <div id="stories_count">
                <h3>{{ published_books|length }}</h3>
                <h4>Stories</h4>
            </div>
        </div>
        <div id="bar_username">
            <h2>@{{ username }}</h2>
        </div>
        <div id="bar_interaction">
            {% if logged_in == True %}
                <a href="/editUser">
                    <button class="button-editUser pure-button" id="button-extra">Edit Profile</button>
                </a>
            {% endif %}
        </div>     
    </div>
{% endblock %}

{% block page_content %}
    <div class="user_page_top">
        <div id="profile_left">
            {% if logged_in == True %}
                <form action="/myworks/api/newbook/{{user_id}}" method="POST">
                    <div id="new_story_div"> 
                        <div id="plus_box">
                            <i class="fa fa-plus fa-5x" aria-hidden="true"></i>
                        </div>
                        <div id="plus_box_words">         
                            <button type="submit" class="button-editUser pure-button">Create a new Story</button>
                        </div>
                    </div>
                </form>
                <div id="user_bio">
                    <p id="user_bio_text"> {{ bio }}</p>
                </div>
            {% else %}
                <div id="user_bio">
                    <p id="user_bio_text"> {{ bio }}</p>
                </div>
            {% endif %}
        </div>
    
        <div id="profile_right">
            <h2>Stories by @{{ username }}</h2>
            <div class="user_books">
                {% for book in published_books %}
                <div class="bookdetails">
                    <div class="book">
                        <a href="/story/{{book[0]}}/1/" class="book-link">
                            <h3>{{book[2]}}</h3>
                        </a>
                    </div>
                    <div class="details">
                        <div class="book-details-container">
                            <h3>{{book[2]}}</h3>
                            <p>{{book[9]}}</p>
                        </div>
                        
                        <div class="book-tag-container">
                            {% set tag_list = book[7][1:-1].split(", ") %}
                            {% for tag in tag_list%}
                            <div class="book-tag"><p>{{ tag }}</p></div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="continue-writing-container">
                        <a href="/myworks/{{ book[0] }}"><button class="button-editStory pure-button" id="button-extra">Continue Writing...</button></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="user_page_bottom">
        <div id="user_library"> 
            <h2> @{{ username }}'s Library</h2>
            <div class="user_library">
                {% for book in library_books %}
                <div class="book1">
                    <div class="book1details">
                        <a href="/story/{{ book[0] }}/1/" class="book-link">
                            <h3>{{book[2]}}</h3>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}{% endblock %}